@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    transition: 350ms ease-in;
    scroll-behavior: smooth;
    /*overflow-x: hidden;*/
}
@keyframes caixa-aviso {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}
:root {
    --main-font: 'Inter', sans-serif;
    --bg-color-one: #E5B712;
    --bg-color-two: #E55E12;
    --bg-color-three: #eb6a20a4;
    --title-color: #000000;
    --paragraph-color: #373737; 
    --font-size-title-sm-md-screens: 40px;
    --font-size-title-secondary: 30px;
    --font-size-paragraph-sm-md-screens: 20px;
    --font-size-secondary-sm-md-screens: 16px;
    --font-size-title-lg-screens: 45px;
    --font-size-paragraph-lg-screens: 25px;
    --font-size-secondary-lg-screens: 21px;
}

#nav-bar {
    background-color: var(--bg-color-one);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 50px;
    position: fixed;
}
#menu-nav-box-sm-md-screens {
    list-style: none;
}
#menu-button {
    display: none;
}
.menu-itens {
    text-decoration: none;
    color: var(--title-color);
    padding: 5px;
    font-size: var(--font-size-paragraph-sm-md-screens);
}

#home {
    padding-top: 100px;
}
#paragraph-hero-row{
    color: var(--paragraph-color);
}
#secondary-paragraph-hero-row, #contato-paragraph{
    font-weight: 300;
    font-style: italic;
}
#instagram-button {
    height: 50px;
    background-color: var(--bg-color-two);
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
#instagram-button-text {
    color: #FFF;
    text-decoration: none;
}

.title-bolos{
    font-size: var(--font-size-title-secondary);
}
.serviços-fotos{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.serviços-descrição{
    font-size: var(--font-size-paragraph-sm-md-screens);
    color: var(--paragraph-color);
}

footer {
    background-color: var(--bg-color-one);
}

#aviso{
        position: absolute;
        transform: translate(-50%, -50%);
        height: 75vw;
        width: 75vw;
        padding: 5vw;
        background-color: red;
        border-radius: 1vw;
        color: rgb(0, 0, 0);
        text-align: center;
        opacity: 0%;
        animation-name: caixa-aviso;
        animation-duration: 7s;
    }

@media (max-width: 700px) {
    #aviso{
        left: 50%;
        top: 40%;
        font-size: 5vw;
    }

    main, footer > article > hr {
        padding: 0 30px;
    }
    
    #menu-button {
        background: none;
        border: none;
        display: inline-block;
        padding: 5px 0 0 30px;
    }
    #menu-button:hover {
        cursor: pointer;
    }
    #menu-button-icon {
        color: var(--title-color);
        width: 40px;
    }
    #menu-nav-box-sm-md-screens {
        background-color: var(--bg-color-two);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-itens-box {
        padding: 10px 0;
    }
    .menu-itens {
        color: #FFF;
        font-size: 18px;
    }

    #home, #serviços {
        padding-bottom: 55px;
    }
    #title-hero-row {
        font-size: var(--font-size-title-sm-md-screens);
        letter-spacing: -1px;
    }
    #paragraph-hero-row{
        font-size: var(--font-size-paragraph-sm-md-screens);
        color: var(--paragraph-color);
    }
    #secondary-paragraph-hero-row{
        font-size: var(--font-size-secondary-sm-md-screens);
    }
    #title-hero-row, #paragraph-hero-row, #secondary-paragraph-hero-row, #title-serviços, .title-bolos, .serviços-descrição, #sobre-nós-title, #sobre-nós-paragraph, #phone, #copy {
        padding-bottom: 20px;
    }
    #foto-hero-row {
        display: none;
    }

    #title-serviços, #sobre-nós-title, #contato-title {
        font-size: var(--font-size-title-sm-md-screens);
        text-align: center;
    }
    hr, .serviços-fotos, #sobre-nós {
        margin-bottom: 20px;
    }
    .serviços-fotos{
        width: 100%;
    }

    #sobre-nós-paragraph{
        font-size: var(--font-size-paragraph-sm-md-screens);
        text-align: justify;
        line-height: 35px;
    }

    #contato-title, #contato-paragraph, #social-media-icon-box{
        padding-bottom: 50px;
    }
    #contato-title{
        padding-top: 30px;
    }
    #contato-paragraph {
        font-size: var(--font-size-secondary-sm-md-screens);
        color: var(--paragraph-color);
        text-align: center;
    }
    .social-media-name{
        display: none;
    }
    #social-media-icon-box{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .social-media-icon{
        width: 40px;
    }
    
    #bussines-name{
        font-size: var(--font-size-title-secondary);
        text-align: center;
        padding: 20px 0;
    }
    #phone {
        font-size: var(--font-size-paragraph-sm-md-screens);
        text-align: center;
    }
    #line-footer, hr {
        border: 1px solid black;
    }
    #line-footer {
        width: 75vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #copy {
        text-align: center;
    }
}

@media (min-width: 701px) {
    #aviso{
        left: 50%;
        top: 50%;
        height: 50vw;
        width: 50vw;
        font-size: 3vw;
    }

    #menu-nav-box-sm-md-screens {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 75%;
    }
    #nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60px;
    }
    main, footer > article > hr {
        padding: 0 65px;
    }
    .menu-itens:hover {
        background-color: var(--bg-color-two);
        color: #FFF;
        border-radius: 7px;
        padding: 5px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    }

    #home{
        margin-bottom: 65px;
    }
    #home{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #text-hero-row{
        padding-right: 45px;
    }
    #foto-hero-row{
        height: 475px;
        border-radius: 10px;
    }
    #title-hero-row, #paragraph-hero-row, #secondary-paragraph-hero-row, #title-serviços, .title-bolos, .serviços-descrição-box, #contato-title, #phone, #copy{
        padding-bottom: 20px;
    }
    hr, .serviços-fotos{
        margin-bottom: 20px;
    }
    #title-hero-row {
        font-size: var(--font-size-title-sm-md-screens);
        letter-spacing: -1px;
    }
    #paragraph-hero-row{
        font-size: var(--font-size-paragraph-sm-md-screens);
        color: var(--paragraph-color);
    }

    #title-serviços, #sobre-nós-title, #contato-title {
        font-size: var(--font-size-title-sm-md-screens);
        text-align: center;
    }
    #serviços-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .serviços-descrição-box{
        width: 300px;
    }
    .serviços-descrição{
        text-align: justify;
        line-height: 30px;
    }
    .title-bolos {
        text-align: center;
    }

    #sobre-nós-title{
        padding-top: 125px;
        padding-bottom: 20px;
    }
    #sobre-nós-paragraph{
        font-size: var(--font-size-paragraph-sm-md-screens);
        text-align: center;
        line-height: 35px;
        padding-bottom: 125px;;
    }

    #contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 125px;
    }
    #contacts-text-box{
        width: 400px;
    }
    #contato-title{
        text-align: start;
    }
    a {
        text-decoration: none;
    }
    .social-media-line{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .social-media-name:hover {
        color: var(--bg-color-two);
    }

    .social-media-name{
        color: var(--title-color);
        font-size: var(--font-size-title-sm-md-screens);
        font-weight: bold;
        padding-right: 25px;
    }
    .social-media-icon{
        height: 40px;
    }

    #bussines-name{
        font-size: var(--font-size-title-secondary);
        text-align: center;
        padding: 20px 0;
    }
    #phone {
        font-size: var(--font-size-paragraph-sm-md-screens);
        text-align: center;
    }
    #line-footer, hr {
        border: 1px solid black;
    }
    #line-footer {
        width: 75vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #copy {
        text-align: center;
    }
}

@media (min-width: 1000px) {
    #aviso{
        left: 50%;
        top: 50%;
        height: 30vw;
        width: 30vw;
        font-size: 1.7vw;
    }

    #menu-nav-box-sm-md-screens {
        width: 50%;
    }
    .menu-itens {
        padding: 6px;
    }

    #title-hero-row {
        font-size: var(--font-size-title-lg-screens);
    }
    #text-hero-row{
        width: 45vw;
    }
    #paragraph-hero-row{
        font-size: var(--font-size-paragraph-lg-screens);
    }
    #secondary-paragraph-hero-row{
        font-size: var(--font-size-secondary-lg-screens);
    }
    #foto-hero-row{
        height: 495px;
        width: 420px;
        border-radius: 10px;
    }

    #title-serviços, #sobre-nós-title, #contato-title {
        font-size: var(--font-size-title-lg-screens);
    }
    #contato-title{
        padding-bottom: 30px;
    }

    #sobre-nós{
        padding: 0 120px;
        margin: 0;
    }
    #sobre-nós-paragraph{
        font-size: var(--font-size-paragraph-lg-screens);
        line-height: 45px;

    }

    #contato-paragraph {
        font-size: var(--font-size-secondary-lg-screens);
    }
    #contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
        padding-left: 30px;
    }
    #contacts-text-box{
        width: 500px;
    }
    
    footer {
        padding: 45px 0;
    }
}